@media screen and (max-width:1440px){
    

}

@media screen and (max-width:1290px){
    

}

@media screen and (max-width:1024px){
    /* banner section */
    #bannerSec .banner-con .banner-tag h3{font-size:40px;}
    #bannerSec .banner-con .banner-tag:nth-child(2) h3{font-size:35px;}
    #bannerSec .banner-con .banner-tag:nth-child(3) h3{font-size:50px;}
    
}


@media screen and (max-width:790px){

    #header{height:80px;}
    /* #header .top-logo{order:1;} */
    #header .top-nav ul{display:none;}
    /* #header .top-nav ul li{font-size:16px;} */

    .sub-nav{top:80px;}

    /* banner section */
    #bannerSec .banner-con .banner-tag:nth-child(1){margin-left:-20%;}



    /* slogan section */
    #sloganSec{height:100px; _margin:20px 0;}
    #sloganSec .slogan-tit h1{font-size:40px; letter-spacing:2px;}
    #sloganSec .slogan-tit h2{display:none;}

    

}